<div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-1 item">
            <h3>Services</h3>
            <ul>
              <li><a href="#">Design</a></li>
              <li><a href="#">Development</a></li>
            </ul>
          </div>
          <div class="col-md-6 offset-1 item company">
            <h3>Netcracker</h3>
            <p>Netcracker delivers market-leading, next-gen BSS, OSS, cloud, 5G, IoT, SDN/NFV and other mission-critical solutions to service providers around the globe</p>
          </div>
        </div>
        <p class="copyright">Copyright © 2021</p>
      </div>
    </footer>
  </div>