img.person {
    height: 100px;
    width: 80px;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.action-btn {
    padding-bottom: 20px;
    padding-top:20px;
    padding-left: 20px;
}

.edit-emp {
    text-align: center;
    margin-top: 28px;
}

